.alterative-block {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.18);
  padding: 10px;
  margin: 10px;
  width: 125px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.alternative-image {
  max-width: 60%;
  height: auto;
}

.alternative-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-size: 13px;
}

.alternative-price {
    font-size: 18px;
}
