.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .container::-webkit-scrollbar, .none-container::-webkit-scrollbar {
  width: 4px;
}

.container::-webkit-scrollbar-track, .none-container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb, .none-container::-webkit-scrollbar-thumb {
  background: #002c0d;
} */

.none-container,
.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.none-circle {
  background: linear-gradient(#eeffd8, #66d838);
  border: 2px solid white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
  gap: 10px;
}

.none-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.none-logo {
  width: 40px;
  fill: rgb(9, 65, 9);
}

.none-description {
  font-size: 19px;
  text-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 1s linear;
  animation-iteration-count: infinite;
  position: relative;
}

.spinner-main {
  width: 65px;
  fill: rgb(14, 90, 14);
}

.white-circle {
  width: 20px;
  height: 20px;
  background-color: rgb(245, 242, 50);
  position: absolute;
  border-radius: 50%;
}

.loading-message {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

@keyframes fade-in {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    pointer-events: none;
    display: none;
  }
}

@keyframes leaf-1 {
  0% {
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    top: calc(100vh - 50px);
    left: 66vw;
    transform: rotate(240deg);
    opacity: 0%;
    display: none;
  }
}

@keyframes leaf-2 {
  0% {
    top: 0px;
    right: 10vw;
    transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    top: calc(100vh - 50px);
    right: 50vw;
    transform: rotate(-340deg);
    opacity: 0%;
    display: none;
  }
}

@keyframes leaf-3 {
  0% {
    top: 0px;
    right: 50vw;
    transform: rotate(0deg);
    opacity: 100%;
  }
  50% {
    right: 10vw;
    transform: rotate(-200deg);
    opacity: 50%;
  }
  100% {
    top: calc(100vh - 50px);
    right: 70vw;
    transform: rotate(30deg);
    opacity: 0%;
    display: none;
  }
}

.leaf-decor {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.leaf-1 {
  width: 20px;
  fill: rgb(18, 143, 18);
  animation: leaf-1 2.5s ease-in-out;
  animation-fill-mode: forwards;
}

.leaf-2 {
  width: 30px;
  fill: rgb(24, 87, 24);
  animation: leaf-2 3s ease-in-out;
  animation-fill-mode: forwards;
}

.leaf-3 {
  width: 25px;
  fill: rgb(6, 65, 6);
  animation: leaf-3 3s ease-in-out;
  animation-fill-mode: forwards;
}

.fade-in-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ccff8a, #eeffd8);
  opacity: 0%;
  z-index: 999;
}

.fade-in-screen-anim {
  animation: fade-in 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes header {
  0% {
    top: -70px;
  }
  100% {
    top: 0px;
  }
}

.header {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  height: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(14, 128, 4, 0.37);
  animation: header 1s ease-in-out;
}

.logo {
  width: 30px;
}

.logo-svg {
  fill: rgb(9, 65, 9);
}

.title {
  font-size: 20px;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.image {
  min-width: 100px;
  width: 20%;
}

.description {
  width: 80%;
  font-size: 16px;
  text-align: center;
}

.description-title {
  font-size: 25px;
}

.rating-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.rating-circle {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(
    from 0.5turn,
    orange,
    #ff2626,
    #fffb29,
    #46ff21,
    blue
  );
}

.black-rating-line-1 {
  background-color: black;
  position: absolute;
  left: 0px;
  top: 96px;
  z-index: 1;
  height: 2px;
  width: 62px;
}

.black-rating-line-2 {
  background-color: black;
  position: absolute;
  right: 0px;
  top: 96px;
  z-index: 1;
  height: 2px;
  width: 62px;
}

.rating-blocking-circle {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: linear-gradient(#d3ff9a, #d5ff9e);
  border: 2px solid black;
}

.rating-arrow {
  height: 13px;
  width: 80px;
  position: absolute;
  top: 85px;
  left: calc(50% - 80px);
  z-index: 1;
  transform-origin: center right;
}

.rating-arrow-body {
  width: 75px;
  height: 4px;
  position: absolute;
  top: 4px;
  background-color: black;
  left: 5px;
}

.rating-arrow-triangle {
  position: absolute;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6.5px 11.3px 6.5px 0;
  border-color: transparent #000000 transparent transparent;
  transform: rotate(0deg);
}

.first-rot {
  transform: rotate(15deg);
}

.second-rot {
  transform: rotate(90deg);
}

.third-rot {
  transform: rotate(165deg);
}

.rating-result {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.red {
  color: #810000;
}

.yellow {
  color: #948a00;
}

.green {
  color: #155f0e;
}

.rating-message {
  font-size: 20px;
}

.division-line {
  width: 90%;
  height: 2px;
  background-color: rgba(8, 26, 0, 0.349);
  align-self: center;
}

.alternatives {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-left: 5px;
}

.alternative-block {
  width: 200px;
  height: 200px;
  background-color: orange;
}

.product-title {
  margin-top: 70px;
  text-align: center;
  font-size: 25px;
}
